<?xml version="1.0" encoding="UTF-8" ?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">

	<servlet>
		<servlet-name>booksServlet</servlet-name>
		<servlet-class>com.demo.servlet.BooksServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>httlServlet</servlet-name>
		<servlet-class>httl.web.servlet.HttlServlet</servlet-class>
		<load-on-startup>2</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>booksServlet</servlet-name>
		<url-pattern>/books.html</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>httlServlet</servlet-name>
		<url-pattern>*.httl</url-pattern>
	</servlet-mapping>

	<filter>
		<filter-name>httlFilter</filter-name>
		<filter-class>httl.web.servlet.HttlFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>httlFilter</filter-name>
		<url-pattern>*.html</url-pattern>
	</filter-mapping>

</web-app>